name: testing

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: '0 8 * * 1-5'

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest requests
    
    - name: List files
      run: ls -R # List files to verify `lab5_final_tests.py` presence

    - name: Run API tests
      run: |
        python -m pytest lab5_final_tests.py -v
        
        echo "=== Запуск ручного теста для отладки ==="
        python lab5_final_tests.py
    
    - name: Upload test results (optional)
      if: always() 
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: |
          test-reports/
        retention-days: 7
